# Virtual environments
venv/
.env/
.env.*

# Editor settings
.vscode/
.idea/

# Ignore database files
*.db
*.sqlite3

# Alembic
alembic.ini
alembic/versions/

# Python cache
__pycache__/
*.pyc
*.pyo

# Ignore specific scripts (if needed)
manage.py
ad.py
check.py

