# Ignore environment variable files
.env
.env.*

# Bytecode and cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/

# Editor settings
.vscode/
.idea/

manage.py
ad.py
check.py
# Ignore database files
*.db
*.sqlite3

alembic/versions/
alembic.ini
